.App {
  font-family: sans-serif;
  padding: 20px;
}

.flex {
  display: flex;
}

.sb {
  display: flex;
  justify-content: space-around;
}

.btn {
  outline: 0;
  border: 0;
  padding: 16px 10px;
  border-radius: 5px;
}

.btn.red {
  color: #cc0f35;
  background-color: #feecf0;
}

.btn.green {
  background-color: #effaf5;
  color: #48c78e;
}

.btn.blue {
  color: #485fc7;
  background-color: #eff1fa;
}
.btn.round {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
